html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: #1C1B27;
  z-index: -100;
  background: url(/images/pattern-hills.svg) no-repeat bottom right 20%, url(/images/bg-stars.svg) bottom right -30%, -webkit-gradient(linear, left top, left bottom, from(#191a24), to(#261e2f));
  background: url(/images/pattern-hills.svg) no-repeat bottom right 20%, url(/images/bg-stars.svg) bottom right -30%, linear-gradient(to bottom, #191a24, #261e2f);
}

h1:hover {
  color: #fb6087;
}

a {
  text-decoration: none;
}

.title {
  color: white;
  font-family: "Red Hat Text", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 150px;
}

.countdown {
  margin-top: 90px;
}

ul {
  list-style-type: none;
  padding-left: 0px !important;
}

.countdown-list li {
  color: #8486a9;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
}

.countdown-box {
  background-color: #2D2F45;
  height: 60px;
  width: 60px;
  margin-bottom: 8px;
  font-size: 25px;
  color: #fb6087;
  font-family: "Red Hat Text", sans-serif;
  -webkit-box-shadow: 0px 5px black;
          box-shadow: 0px 5px black;
}

.bottom-text {
  color: white;
  text-align: center;
  font-size: 11px;
  font-family: "Red Hat Text", sans-serif;
}
.bottom-text a {
  color: #fb6087;
}
.bottom-text a:hover {
  color: #EB3867;
}

.social-img:hover {
  -webkit-filter: brightness(3);
          filter: brightness(3);
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 15px;
}

.modal-content {
  background-color: black;
  color: #fb6087;
  font-family: "Red Hat Text", sans-serif;
  font-size: 25px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.modal-content label:hover {
  color: white;
}

.modal-header {
  display: block;
  margin-top: 20px;
  padding: 0px;
  border-style: none;
}
.modal-header h5 {
  font-size: 35px;
}

.form-control {
  width: 60px;
  height: 45px;
  background-color: #2F2439;
  border-style: none;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  font-size: 24px;
}

.start-button {
  color: #fb6087;
  background-color: #2F2439;
  border: 1px solid #fb6087;
  height: 60px;
  width: 120px;
  border-radius: 10px;
}
.start-button:hover {
  background-color: #fb6087;
  color: black;
}

@media only screen and (min-width: 390px) {
  .modal {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #1C1B27;
    z-index: -100;
    background: url(../images/bg-stars.svg) top/100% 70% no-repeat, url(../images/pattern-hills.svg) bottom/100% 25% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#1e1e28), to(#251d2c));
    background: url(../images/bg-stars.svg) top/100% 70% no-repeat, url(../images/pattern-hills.svg) bottom/100% 25% no-repeat, linear-gradient(to bottom, #1e1e28, #251d2c);
  }

  .title h1 {
    font-size: 55px !important;
  }

  .countdown {
    margin-top: 125px;
  }

  .countdown-box {
    height: 100px;
    width: 100px;
    font-size: 40px;
    letter-spacing: 0.3rem;
  }

  .countdown-list li {
    font-size: 18px;
  }

  .social-img {
    height: 40px;
  }

  .bottom-text {
    font-size: 17px;
  }

  .modal-dialog {
    margin-right: 0px;
    margin-left: 0px;
    margin: auto;
    max-width: 850px !important;
  }

  .modal-content {
    width: 600px;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .countdown-box {
    height: 140px;
    width: 140px;
    font-size: 80px;
    -webkit-box-shadow: 0px 8px black;
            box-shadow: 0px 8px black;
    margin-bottom: 20px;
  }

  .countdown-list li {
    font-size: 22px;
  }

  .socials ul {
    margin-bottom: 45px;
  }

  .modal-content {
    width: 850px;
    margin: auto;
  }
}