@import 'variables'; 


html,
body {
    height: 100%;
}

body {
    background-color: #1C1B27;
    z-index: -100;
    background: url(/images/pattern-hills.svg) no-repeat bottom right 20%,
        url(/images/bg-stars.svg)bottom right -30%,
        linear-gradient(to bottom, #191a24, #261e2f);
    overflow-y: hidden;
}

h1:hover {
    color: $baseRose;
}

a {
    text-decoration: none;
}

.title {
    color: $baseWhite;
    font-family: $baseFont;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 150px;
}

.countdown {
    margin-top: 90px;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
}

.countdown-list li {
    color: #8486a9;
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
}

.countdown-box {
    background-color: #2D2F45;
    height: 60px;
    width: 60px;
    margin-bottom: 8px;
    font-size: 25px;
    color: $baseRose;
    font-family: $baseFont;
    box-shadow: 0px 5px black;
}



.bottom-text {
    color: $baseWhite;
    text-align: center;
    font-size: 11px;
    font-family: $baseFont;
    a {
            color: $baseRose;
        &:hover {
                color: #EB3867;
            }
        }
}


.social-img:hover {
    filter: brightness(3);
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 15px;
}

.modal-content{
    background-color:black;
    color: $baseRose;
    font-family: $baseFont;
    font-size: 25px;
    text-align: center;
    width:80%;
    margin: 0 auto;
    label:hover{
        color: $baseWhite;
    }
}

.modal-header{
    display:block;
    margin-top: 20px;
    padding: 0px;
    border-style: none;
    h5{
        font-size: 35px;
    }
}

.form-control{
    width: 60px;
    height:45px;
    background-color:#2F2439;
    border-style: none;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    font-size: 24px;
}

.start-button{
    color:$baseRose;
    background-color: #2F2439;
    border: 1px solid $baseRose;
    height:60px;
    width: 120px;
    border-radius: 10px;
    &:hover{
        background-color:$baseRose;
        color:black;
    }
}

@media only screen and (min-width: 390px) {
    .modal{
        margin-top: 90px;
    }
}


@media only screen and (min-width: 768px) {
    body {
        background-color: #1C1B27;
        z-index: -100;
        background: url(../images/bg-stars.svg) top/100% 70% no-repeat, url(../images/pattern-hills.svg) bottom/100% 25% no-repeat, linear-gradient(to bottom, #1e1e28, #251d2c);
    }

    .title h1 {
        font-size: 55px !important;
    }

    .countdown {
        margin-top: 125px;
    }

    .countdown-box {
        height: 100px;
        width: 100px;
        font-size: 40px;
        letter-spacing: 0.3rem;
    }

    .countdown-list li {
        font-size: 18px;
    }

    .social-img {
        height: 40px;
    }

    .bottom-text {
        font-size: 17px;
    }

    .modal-dialog {
        margin-right: 0px;
        margin-left: 0px;
        margin: auto;
        max-width: 850px !important;
    }

    .modal-content {
        width: 600px;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .countdown-box {
        height: 140px;
        width: 140px;
        font-size: 80px;
        box-shadow: 0px 8px black;
        margin-bottom: 20px;
    }

    .countdown-list li {
        font-size: 22px;
    }

    .socials ul {
        margin-bottom: 45px;
    }

        .modal-content {
            width: 850px;
            margin: auto;
        }
}